@font-face {
    font-family: Akzidenz;
    src: url('../assets/fonts/akzidenzgroteskpro-regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: Akzidenz;
    src: url('../assets/fonts/akzidenzgroteskpro-light.woff2');
    font-weight: 300;
}
@font-face {
    font-family: Akzidenz;
    src: url('../assets/fonts/akzidenzgroteskpro-md.woff2');
    font-weight: 500;
}
@font-face {
    font-family: Akzidenz;
    src: url('../assets/fonts/akzidenzgroteskpro-ext.woff2');
    font-weight: 900;
}